.sub-hero{
	height: 70%;
	.sub-hero{
		height: 100%;
        background-size: cover;
        background-position: center;
        text-align: center;
        h2{
        	padding-top: 15%;
        	padding-left:3%;
            padding-right:3%;
        	font-size: 64px;
        	color: white;
        	@media (max-width: $mmd-break){
        		padding-top: 25%;
        		font-size: 48px;
        	}
        	@media (max-width: $sm-break){
        		padding-top: 35%;
        		span{
        			display:block;
        		}
        	}
        	@media (max-width: $xsm-mobile-break){
        		padding-top: 55%;
        		font-size: $text-slogan;
        	}
        }
        p{
        	font-size: 30px;
        	color: white;
        	@media (max-width: $mmd-break){
        		font-size: 20px;
        	}
        }
	}
}